.modaloverlay {
  z-index: 1000;
}

.modalContent {
  padding: 20px;
  width: 500px;
  border-radius: 10px;
  height: 451.4px;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

.title {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 6px;
  font-size: 0.9rem;
}

.labelText {
  font-size: 14px;
  margin-bottom: 6px;
}

.input {
  padding: 8px 10px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 0.95rem;
  outline: none;
}

.input:focus {
  border-color: #2563eb;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.08);
}

.buttonGroup {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-top: 6px;
}

.saveBtn {
  background: rgb(69 112 182);
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.saveBtn:hover {
  background: rgb(1, 49, 126);
}

.cancelBtn {
  background: #e5e7eb;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}