.tabbedTableIsland {
  background: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 20px;
}

.tabsWrapper {
  display: flex;
  justify-content: space-between;
}

.addButton {
  display: flex;
  background-color: rgb(69 112 182);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 12px;
  cursor: pointer;
  gap: 8px;
  align-items: center;
  height: 20%;
}
.addButton:hover {
  background-color: rgb(1, 49, 126);
}

.tabs {
  display: flex;
  gap: 8px;
  margin-bottom: 16px;
  flex-wrap: wrap;
}

.tabButton {
  padding: 8px 16px;
  background: #e0e0e0;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
}

.tabButton.active {
  background: rgb(69 112 182);
  color: white;
}

.tabContent {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr 1fr;
  padding: 10px;
  border-bottom: 1px solid #eee;
}

.rowHeader {
  font-weight: bold;
  background: #f4f4f4;
}

.cell {
  padding: 4px 8px;
  font-size: 14px;
}

.noData {
  text-align: center;
  padding: 16px;
  color: gray;
}