.whiteIsland {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 64px);
    justify-content: space-around;
}

.title {
    color: #1f2937;
    margin-bottom: 16px;
}

.addbtn {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    gap: 8px;
    font-size: 12px;
}

.searchInput {
    padding: 10px 12px;
    border: 1px solid #d1d5db;
    border-radius: 6px;
    width: 100%;
    font-size: 12px;
}

.searchButton {
    display: flex;
    align-items: center;
    background: none;
    color: rgb(69 112 182);
    border: none;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 12px;
}

.searchButton:hover {
    color: rgb(1, 49, 126);
}

.addButton {
    display: flex;
    align-items: center;
    gap: 6px;
    background: rgb(69 112 182);
    color: #fff;
    border: none;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.2s ease;
    font-size: 12px;
}

.addButton:hover {
    background: rgb(1, 49, 126);
}

.editButton {
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 7px;
}

.editButton:hover {
    background-color: #218838;
}

.deleteButton {
    padding: 5px 7px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 4px;
}

.deleteButton:hover {
    background-color: #c82333;
}

.warehouseTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 24px;
    font-size: 14px;
    table-layout: auto;

}

.warehouseTable th {
    text-align: left;
    font-weight: 600;
    background: #f9fafb;
    padding: 10px;
    white-space: nowrap;
}

.warehouseTable td {
    padding: 10px;
    border-top: 1px solid #f1f5f9;
    vertical-align: middle;
}

.warehouseTable tr {
    cursor: pointer;
    max-height: 42px;

}

.warehouseTable tr:hover {
    background-color: #e9f0fe;
}

.warehouseTable th:nth-child(1),
.warehouseTable td:nth-child(1) {
    width: 12%;
    /* Warehouse ID  */
}

.warehouseTable th:nth-child(2),
.warehouseTable td:nth-child(2) {
    width: 60%;
    /* Address */
}

.warehouseTable th:nth-child(3),
.warehouseTable td:nth-child(3) {
    width: 14%;
    /* Storage  */
}

.warehouseTable th:nth-child(4),
.warehouseTable td:nth-child(4) {
    width: 14%;
}

.warehouseTable th:nth-child(5){
    width: 14%;
}

.warehouseTable td:nth-child(5) {
    width: 14%;
    display: flex;
    padding: 0px 5px;
    gap: 2px;
    align-items: center;
    margin-top: 4px;
}

.tableInput {
    border-radius: 20px;
    border: 1px solid #D0D5DD;
    background-color: #ffffff;
    width: 100%;
    padding: 0px 5px;

}

.tableInput:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #4570b6;
    border-radius: 4px;
    box-shadow: 0 0 0 2px rgba(69, 112, 182, 0.1);
}

.tableInput:hover {
    background-color: #f8f9fa;
}

.tableSelect {
    border-radius: 20px;
    border: 1px solid #D0D5DD;
    background-color: #ffffff;
    width: 100%;
    padding: 0px 5px;
}

.pagination {
    display: flex;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.pagination button {
    padding: 6px 12px;
    border: 1px solid #d1d5db;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.85rem;
}

.pagination button:global(.active) {
    background: rgb(69 112 182);
    color: #fff;
}

.pagination button:global(:disabled) {
    opacity: 0.4;
    cursor: default;
}